.container {
  text-align: center;
}

.title {
  font-size: 24px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.styledTable {
   width: 50%;
   border-collapse: collapse;
   margin: auto;
   font-size: 0.9em;
   font-family: sans-serif;
   min-width: 400px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}